.header {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
  background: #2e2f41 url(../images/bg-1.png) 0 0 no-repeat;
  background-size: cover;
  text-align: center;
}

.header p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
}

.logo__img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.logo__text {
  color: white;
}

.logo__button {
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo__button img {
  width: 180px;
  height: 50px;
}

.iphone__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: auto;
}

@media screen and (max-width: 800px) {
  .features .features__content {
    padding-top: 0;
  }
  .features h3 {
    text-align: center;
  }
  .features p {
    text-align: center;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.42857;
  color: #696f6f;
}

p {
  margin: 0 0 12px;
}

h2,
h3,
h4 {
  color: black;
}

.side-nav {
  position: fixed;
  top: 45%;
  right: 20px;
  z-index: 1030;
}

.side-nav ul.nav-side-nav {
  text-align: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.side-nav ul.nav-side-nav li a.tooltip-side-nav {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e2e2e2;
}

.services {
  background: white;
  text-align: center;
  padding: 100px 0;
}

.services__item {
  padding-bottom: 20px;
}

.services__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.features {
  background: #f3f4f5;
  text-align: left;
  padding: 100px 0;
}

.features__content {
  padding-top: 100px;
}

.features__img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: auto;
}

.subscribe-section {
  background: #2e2f41 url(../images/bg-2.png) 0 0 no-repeat;
  text-align: center;
  padding: 100px 0;
  background-size: cover;
  color: white;
}

.subscribe-section h2 {
  color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.subscribe__form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.subscribe__description {
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .features .row.media-screen-800 {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .features .features__img {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 275px;
    height: auto;
  }
  .form-control {
    width: 250px;
    display: inline-block;
  }
}

.footer-section {
  background: white;
  text-align: left;
  padding: 60px 0;
}

.social-media-links {
  list-style: none;
}

.social-media-links li {
  display: inline-block;
}

.social-media-links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 35px;
}

@media screen and (max-width: 800px) {
  .footer-section {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */